@* @model List<Empleado>

<h1>Empleados almacenados OK</h1>

<p>
    <a asp-controller="Empleados" asp-action="SessionEmpleadosOk">Almacenar Empleados</a>
</p>
@if(Context.Session.GetString("IDSEMPLEADOS")==null){
    <h2 class="text-danger">No existen empleados en Session</h2>
}
<h2 class="text-danger">@ViewData["MENSAJE"]</h2>

@if(Model == null)
{
    <h2 class="text-danger">No existen empleados en Session</h2>
}
else
{
    <ul class="list-group">
        @foreach (Empleado emp in Model)
        {
            <li class="list-group-item list-group-item-success">
                @emp.Apellido, @emp.Oficio, @emp.Salario,
                <a asp-controller="Empleados"
                   asp-action="EmpleadosAlmacenadosOk"
                   asp-route-idfavorito="@emp.IdEmpleado">
                    Favorito
                </a>
                
                @if(idempleados==null){
                    <a asp-controller="Empleados"
                       asp-action="EmpleadosAlmacenadosOk"
                       asp-route-ideliminar="@emp.IdEmpleado">
                        Quitar de Session
                    </a>
                }
            </li>
        }
    </ul>
} *@

                   @model List<Empleado>

<h1 style="color:fuchsia">
    Empleados almacenados OK
</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="SessionEmpleadosOk">
        Almacenar empleados
    </a>
</p>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}